[submodule "sidecar-edits"]
	path = sidecar-edits
	url = /home/smldis/working/AI/repos/sidecar-edits.git
[submodule "spice-canonical"]
	path = spice-canonical
	url = /home/smldis/working/AI/repos/spice-canonical.git
[submodule "netlist-decomposition"]
	path = netlist-decomposition
	url = /home/smldis/working/AI/repos/netlist-decomposition.git
