[submodule "sidecar-edits"]
	path = sidecar-edits
	url = https://github.com/smldis/sidecar-edits.git
[submodule "spice-canonical"]
	path = spice-canonical
	url = https://github.com/smldis/spice-canonical.git
[submodule "netlist-decomposition"]
	path = netlist-decomposition
	url = https://github.com/smldis/netlist-decomposition.git
[submodule "hedloom"]
	path = hedloom
	url = https://github.com/smldis/hedloom.git
